[user]
  name = deaddeed
  email = fahmi1001+1@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[color "status"]
  added = green
  changed = blue
  untracked = red 
[color "diff"]
  meta = yellow
  old = red 
  new = green
[core]
  editor = /usr/bin/vim